h1{
    color: blue;
    text-align: center;
}
div {
    background-color: orange;
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 20px;
    font-size: 28px;
    font-family: Arial, sans-serif; 
    font-weight: bold;
    border: 3px solid black;
}
#h1style{
    color: brown;
}
.h1class{
    color: aqua;
}

ul > li {
    color: blueviolet;
}
a[href="https://amazon.com"]{
    color: red;
}
button{
    width: 200px;
    height: 50px;
    font-size: 24px;
    background: aqua;
    }
button:hover{
    background-color: orange;
}

@media (min-width: 500px){
    body{
        background-color: red;
    }
}

@media (max-width: 499px){
    body{
        background-color: gray;
    }
}